body{
    position: relative;
}
#board{
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(244, 244, 244);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#board canvas{
    width: 70px;
    height: 70px;
}
#board canvas:hover{
    scale: 1.04;
}

/* #board canvas{
    background-color: red;
} */